WebContent/HolidayRequest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://mycompany.com/hr/schemas"
                  xmlns:tns="http://mycompany.com/hr/definitions"
                  targetNamespace="http://mycompany.com/hr/definitions">
    <wsdl:types>    	
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        			attributeFormDefault="unqualified" 
        			elementFormDefault="qualified" 
        			targetNamespace="http://mycompany.com/hr/schemas">        	
		    <xs:element xmlns:exem="http://mycompany.com/hr/schemas" name="HolidayRequest" type="exem:HolidayRequest"/>
		    
		    <xs:complexType name="HolidayRequest">
			    <xs:sequence>
			      <xs:element type="exem:HolidayType" name="etudiant" maxOccurs="unbounded" minOccurs="1" xmlns:exem="http://mycompany.com/hr/schemas"/>
			      <xs:element type="exem:EmployeeType" name="matiere" maxOccurs="unbounded" minOccurs="1" xmlns:exem="http://mycompany.com/hr/schemas"/>     
			    </xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="HolidayType">
		    <xs:all>
		      <xs:element name="StartDate">
		        <xs:simpleType>
		          <xs:restriction base="xs:date">
		            <xs:enumeration value="2006-07-03"/>
		          </xs:restriction>
		        </xs:simpleType>
		      </xs:element>
		      <xs:element name="EndDate">
		        <xs:simpleType>
		          <xs:restriction base="xs:date">
		            <xs:enumeration value="2006-07-07"/>
		          </xs:restriction>
		        </xs:simpleType>
		      </xs:element>
		    </xs:all>
		  </xs:complexType>
		  <xs:complexType name="EmployeeType">
		    <xs:all>
		      <xs:element name="Number">
		        <xs:simpleType>
		          <xs:restriction base="xs:string">
		            <xs:enumeration value="42"/>
		          </xs:restriction>
		        </xs:simpleType>
		      </xs:element>
		      <xs:element name="FirstName">
		        <xs:simpleType>
		          <xs:restriction base="xs:string">
		            <xs:enumeration value="Arjen"/>
		          </xs:restriction>
		        </xs:simpleType>
		      </xs:element>
		      <xs:element name="LastName">
		        <xs:simpleType>
		          <xs:restriction base="xs:string">
		            <xs:enumeration value="Poutsma"/>
		          </xs:restriction>
		        </xs:simpleType>
		      </xs:element>
		    </xs:all>
		  </xs:complexType>
        </xs:schema>        
    </wsdl:types>    
    <wsdl:message name="HolidayRequest">
        <wsdl:part element="schema:HolidayRequest" name="HolidayRequest"/>
    </wsdl:message>
    <wsdl:portType name="HumanResource">
        <wsdl:operation name="Holiday">
            <wsdl:input message="tns:HolidayRequest" name="HolidayRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HumanResourceBinding" type="tns:HumanResource">                  
        <soap:binding style="document"                                                   
            transport="http://schemas.xmlsoap.org/soap/http"/>                           
        <wsdl:operation name="Holiday">
            <soap:operation soapAction="http://mycompany.com/RequestHoliday"/>           
            <wsdl:input name="HolidayRequest">
                <soap:body use="literal"/>                                               
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HumanResourceService">
        <wsdl:port binding="tns:HumanResourceBinding" name="HumanResourcePort">          
            <soap:address location="http://localhost:8080/holidayService/"/>             
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>    













